.homePage {
  height: calc(100vh - 4rem) ;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(../bg.jpg) center/cover no-repeat scroll;
}
.homePage p{
  font-size: 1.3rem;
}
.homePage section {
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
 section h1,h2{
  color: white;
  font-size: 2rem;
 }

