.priceContent h2,p{
 color: white;
}
.priceContainer{
 background:   #242a2e;;
}
.priceContent,.priceImg{
margin-bottom: 2rem;
}
@media (min-width:600px) {
.priceCenter{
  display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
column-gap: 2rem;
 }

}