.mapContainer{
 background-color:  #2d3439;
 flex: 1;
/* height: 100%  ; */
height: calc(100vh - 4.7rem) ;
position: relative;
}
.map{
 height: 100%;
 z-index: 2;
}
.geoBtn{
 position: absolute;
 left: 50%;
 top: 87%;
 z-index: 5000;
 padding: 0.70rem;
transform: translateX(-50%);
 border-radius: 1rem;
 cursor: pointer;
 background-color: var(  --color-brand--2);
}
