/* .user{
 padding: 1rem;
 background-color: var(--color-dark--2);
} */

.user {
  position: absolute;
  top: 4.9rem;
  right: 0.8rem;
  background-color: var(--color-dark--1);
  padding: 0.5rem 1.4rem;
  border-radius: 7px;
  z-index: 999;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.user button {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  border: none;
  padding: 0.6rem ;
  color: inherit;
  font-family: inherit;
  
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.Username  span{
margin-right: 9px;
}